body{
    background: #f7f7f7;
}
.container{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 button{
    height: 60px;
    width: 120px;
    outline: 0;
    border: 0;
    background-color: rgb(162, 160, 211);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s all;
 }
 button:hover{
    background: lightblue;
 }
 button:active{
    box-shadow: 0 9px solid black;
    transform: translateY(10px);
 }